.about-banner {
    background-size: cover;
    background-position: center;
    padding: 80px 20px;
    text-align: center;
    color: rgb(43, 43, 43);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.about-banner h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.bio-content p {
    font-size: 1.5rem;
}
